body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-guitar {
  height: 50em;
  width: 35em;
  display: flex;
  align-items: center;
  background-image: url("../../images/photo-1541689592655-f5f52825a3b8.avif");
  background-size: 100%;
  opacity: 0.4;
  border-radius: 10%;
}

.bday-wish {
font-size: 4em;
}

.playlist {
  position: absolute;
  top: 14em;
  left: 24em;
  width: 68%;
  overflow: hidden;
  overflow-x: scroll;
  color: #CEC8EF;
  font-size: 1.5em;
  font-weight: 500;
}
.playlist::-webkit-scrollbar {
   width: 12px;
}

.playlist::-webkit-scrollbar-track {
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
   border-radius: 10px;
}

.playlist::-webkit-scrollbar-thumb {
   border-radius: 10px;
   -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.list {
  display: flex;
  justify-content: space-around;
  text-align: center;
  list-style: none;
  width: 280rem;
}
.list > li {
   text-align: center;
}
li > a {
  text-decoration: none;
  color: #B2F302;
}